@{
    ViewBag.Title = "Home";
}
<div class="container" style="padding: 15px">
    <div style="margin: auto; font-size:220px; font-family:'Segoe UI Light';">
        <span id="counter"> </span>
    </div>
</div>